@media (min-width: 300px) {
img,
img{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
} 
/* tablet */
@media (min-width: 600px) {
 img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}  
}

/* desktop */
@media (min-width: 1024px) {
  img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
}