

.body2 {
    background-color: white;
}

.img1 {
    width: 60px;
    height: 60px;
    margin-left: 280px;
    margin-top: 10px;
}

.h0 {
    color: blue;
    padding-left: 100px;
}

.h1 {
    color: #A9A9A9;
    padding-left: 180px;
}

.h2 {
    border-left: 4px solid #22c55e;
      padding-left: 20px;      /* ruang agar teks tidak mepet garis */
    
}

.div0 {
  margin-inline: 300px;
}

.div1 {
  border-radius: 12px;
  background:  #fff;
  border: 3px solid #e5e7eb;
  padding: 40px;
}

.img2 {
  width: 190px;          /* atau 250px sesuai kebutuhan */
  height: 190px;         /* samakan dengan width untuk bulat sempurna */
  object-fit: cover;     /* isi area tanpa distorsi */
  border-radius: 100%;
}
.div4 {
  border-radius: 12px;
  background: #fff;
  border: 2px solid #e5e7eb;
  padding-left: 280px;
  padding-block-end: 10px;
  padding-top: 10px;
}

.link {
        text-decoration: none;
        cursor:progress;
        color:blue;
}


.body1 {
    background-color: white;
}

.div2 {
          border-radius: 15px;
  margin-inline: 300px;
}

.h100 {
    color: midnightblue;
        padding-left: 180px;
}

.h101 {
    color:  #A9A9A9;
    padding-left: 175px;
}




.img10 {
          width: 190px;          /* atau 250px sesuai kebutuhan */
  height: 190px;         /* samakan dengan width untuk bulat sempurna */
  object-fit: cover;     /* isi area tanpa distorsi */
  border-radius: 100%;
}

.div3 {
  border-radius: 12px;
  background: #fff;
  border: 2px solid #e5e7eb;
  padding-left: 205px;
  padding-block-end: 10px;
  padding-top: 10px;
}

