/* Reset sederhana */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Warna latar untuk memvisualisasikan blok */
header,
.header {
  background: #45a049;
  color: white;
  padding: 15px;
  text-align: center;
}

nav,
.nav {
  margin-top: 10px;
  background: #45a049;
  padding: 10px;
}

nav a,
.nav a {
  color: green;
  text-decoration: none; /* hapus garis bawah */
  border-radius: 22px; /* ubah sudut jadi bulat */
  background: #fff;
  padding: 6px 14px;
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* padding-left: 14px; */
  /* padding-right: 14px; */
  margin-right: 8px; /* jarak luar antar link */
}

main,
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f9f9f9;
}

/* Section / Artikel utama */
section,
.section {
  flex: 2;
  background: #e3f2fd;
  padding: 15px;
  border-radius: 6px;
}

/* Article khusus */
article,
.article {
  background: #bbdefb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

/* Sidebar / aside */
aside,
.aside {
  flex: 1;
  background: #ffe082;
  padding: 15px;
  border-radius: 6px;
}

/* Footer */
footer,
.footer {
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.active {
  background: blue;
  color: white;
}

.galery {
  text-align: center;
}

.galery h2 {
  color: gold;
  font-size: 35px;
}

.galery p {
  font-size: 18px;
  color: #666;
}

.galery .card {
display: inline-block;
width: 200px;
border: 1px solid #ddd;
margin: 10px;
background: #fff;
border-radius: 8px;
overflow: hidden; /*mengatur text agar tdk keluar dr kotak*/
}
.galery .card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.galery .card figcaption {
  font-size: 14px;
  color: white;
  background-color: burlywood;
  margin-top: -8px;
  padding: 4px;
}
